.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

table {
	border: 1px solid black;
}

tbody tr:nth-child(odd) {
	background-color: #CCC;
}

button {
	margin: 10px ;
}
